@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background: #cdb4db;
  color: black;
}

#fancy {
  font-family: 'Aboreto', cursive;
}

.half {
  width: 50vw;
  align-items: center;
  text-align: left;
  display: flex;
  justify-content: center;
  color: black;
  font-weight: 300;
}

.full {
  width: 100vw;
  align-items: center;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: black;
  font-weight: 300;
}

button {
  font-family: 'Aboreto', cursive;
}

.header {
  width: 100vw;
  color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap');

:root {
  --font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  --page-padding: 24px;
  --page-max-width: 1000px;
  --page-responsive-desktop: 800px;
  --page-header-height: 64px;
  --page-footer-height: 64px;
  --section-header-max-width: 650px;
  --list-item-max-width: 450px;

  --background: #e2dde5;
  --background-alternate: #fafafa;
  --section-separator-color: #ddd;
  --section-separator-width: 0.5px;

  --text: #333;
  --text-shade: #333A;
  --text-accent: #fff;
  --text-accent-shade: #fffA;
  --accent: #A6A5D5;

  --body-font-size: 16px;
  --body-font-weight: 400;
  --body-line-height: 1.6;
  --body-letter-spacing: -0.3px;

  --title-font-size: 48px;
  --title-font-weight: 800;
  --title-line-height: 1;
  --title-letter-spacing: -2px;

  --subtitle-font-size: 21px;
  --subtitle-font-weight: 400;
  --subtitle-line-height: 1.5;
  --subtitle-letter-spacing: -0.8px;

  --h1-font-size: 38px;
  --h1-font-weight: 700;
  --h1-line-height: 1;
  --h1-letter-spacing: -1px;

  --h2-font-size: 26px;
  --h2-font-weight: 500;
  --h2-line-height: 1;
  --h2-letter-spacing: -1px;

  --h3-font-size: 21px;
  --h3-font-weight: 500;
  --h3-line-height: 1;
  --h3-letter-spacing: -0.6px;
}



